#hl {
    border-top: 1px solid lightgray;
}
#tabs {
    position: absolute;
    right: 30px;
    bottom: 2px;
}
.tabLayout {
    font-size: 30px !important;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#contacts {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    bottom: 20px;
}
li {
    list-style-type: circle;
}

